<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>ReedItgam APP</title>
</head>
<body ng-app="reeditgam" 
	ng-controller="mainCtrl">
	<BUTTON ng-click="addPost()">Postear</BUTTON>
	<div ng-repeat="post in post | orderBy: '-upvotes'">
		{{post.title}} - likes: {{post.upvotes}}
		
	</div>
	<!-- CArgando librerias -->
	<!-- es una buena practica al final cargar los scripts -->
	<!-- cargando angular-->
	<script 
	type="text/javascript"
	src="vendor/angular/angular.js"
	>
	</script>
	<script 
	type="text/javascript"
	src="scripts/app.js">
	</script>		
</body>
</html>